@page "/blazorjs"
@inject IJSRuntime jsRuntime

<h3>Blazorjs</h3>

<div class="row">
    <button class="btn btn-secondary" @onclick="(()=>TestConfirmBox(ConfirmMessage))"> Text Confirm button</button>
</div>
<div class="row">
    <button class="btn btn-success" @onclick="TestSuccess"> Test Toastr Success</button>
    <button class="btn btn-danger" @onclick="TestFailure"> Test Toastr Fail</button>
</div>

<div class="row">
    @if (ConfirmResult)
    {
        <p>Confirmation Has ben Made</p>
    }
    else
    {
        <p>Confirmation Pending!</p>
    }
</div>

@code {
    private string ConfirmMessage { get; set; } = "Are you sure you want to click?";
    private bool ConfirmResult { get; set; }

    private async Task TestConfirmBox(string message)
    {
        ConfirmResult =  await jsRuntime.InvokeAsync<bool>("confirm", message);
    }

    private async Task TestSuccess()
    {
        await jsRuntime.ToastrSuccess("Success Message");
    }

    private async Task TestFailure()
    {
        await jsRuntime.ToastrError("Fail Message");
    }

}
