@page "/demoHotel"
@using Model


<h3>We will display hotel rooms</h3>

<div class="border p-2 mt-2" style="background-color: azure">
    <h2 class="text-info">Room List [USIN COMPONENT]</h2>
    <div class="row container">
        <div class="col-12">
            <h4 class="text-info" >Hotel Room's</h4>
            <span>Rooms Selected - @SelectedRooms</span>
        </div>
        @foreach (var room in RoomsList)
        {
            <IndividualRoom OnRoomCheckBoxSelection="RoomSelectionCounterChanged" Room="@room"></IndividualRoom>
        }
        <div class="col-12 mt-4">
            <h4 class="text-info">Hotel Amenties's</h4>
        </div>
        @foreach (var amenity in AmentiesList)
        {
            <IndividualAmenties Amenties="@amenity"></IndividualAmenties>
        }
    </div >
</div>

@code{
    public int SelectedRooms { get; set; } = 0;
    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<BlazorAmenties> AmentiesList = new List<BlazorAmenties>();
   
    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(new BlazorRoom()
        {
            Id = 201,
            RoomName = "Villa Suite one Bed Room",
            IsActive = true,
            Price = 499,
            RoomProps = new List<BlazorRoomProp>()
            {
                new Model.BlazorRoomProp(){Id = 1,Name = "Sq Ft",Value = "100"},
                new Model.BlazorRoomProp(){Id = 2,Name = "Occupancy",Value = "4"}
            }
        });
         RoomsList.Add(new BlazorRoom()
        {
            Id = 301,
            RoomName = "Villa Suite Two Bed Room",
            IsActive = true,
            Price = 699,
            RoomProps = new List<BlazorRoomProp>()
            {
                new Model.BlazorRoomProp(){Id = 1,Name = "Sq Ft",Value = "100"},
                new Model.BlazorRoomProp(){Id = 2,Name = "Occupancy",Value = "6"}
            }
        });

        AmentiesList.Add(new BlazorAmenties()
        {
            Id = 111,
            Name = "Gym",
            Description = "24x7 gym rooim is available"
        });
        AmentiesList.Add(new BlazorAmenties()
        {
            Id = 222,
            Name = "Swimming  Pool",
            Description = "Pool Room is open from 6am to 10pm"
        });
        AmentiesList.Add(new BlazorAmenties()
        {
            Id = 333,
            Name = "Free breakfast",
            Description = "Enjoy"
        });
    }

    protected void RoomSelectionCounterChanged(bool isRoomSelected)
    {
        if (isRoomSelected)
        {
            SelectedRooms++;

        }
        else
        {
            SelectedRooms--;
        }
    }
}