@page "/ParentComponent"



<h3 class="text-danger">Paren Child Component</h3>

<ChildComponent Title="this title is passed as paramter from Component">
    Render Fragment From Parent! WooHOO!
</ChildComponent>


<ChildComponent Title="this is second child component">
    
</ChildComponent>


@code {

}
