@using Villagenix.Server.Model
<div class="bg-light border p-2 col-5 offset-1">
    <h4 class="text-secondary">Amenities - @Amenties.Id</h4>
    @Amenties.Name<br/>
    @Amenties.Description<br/>

    </div>

@code
{
    [Parameter]
    public BlazorAmenties Amenties { get; set; }

}
